@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2.25rem;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

.hero__wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .hero__wrap {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.hero {
  position: relative;
  max-width: 100%;
  min-height: calc(100vh + 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  margin-bottom: -5vw;
  padding-bottom: 5vw;
  padding-top: 4.9342105263rem;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Section1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero__wrap {
  position: relative;
  width: 100%;
  padding: 0;
}
.hero__content-box {
  background-color: #181818;
  padding: 3.4090909091rem 3.2327586207rem 3.125rem;
  border-radius: 2rem;
  max-width: 51.875rem;
  min-height: 24.375rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__logo {
  width: 4.15rem;
  margin-bottom: 1.25rem;
}
.hero__heading {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.6875rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 2.875rem;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}
.hero__text {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
  max-width: 90%;
  margin-bottom: 2.5rem;
}
.hero .hero-button {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-bottom: 0;
  width: auto;
  display: block;
}
.hero .hero-button:hover {
  background-color: #000000;
  color: #ffffff;
  transform: rotate(5deg);
  text-decoration: none;
}

@media (max-width: 1024px) {
  .hero {
    padding-bottom: 12vw;
  }
  .hero__content-box {
    width: 62.5%;
    margin-top: 4.6875rem;
    padding-inline: 0;
    padding-bottom: 5vw;
  }
  .hero__logo {
    width: 8%;
  }
  .hero__heading {
    font-size: 2.0625rem;
  }
  .hero__text {
    width: 77.5%;
  }
  .hero__button {
    width: 40%;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 768px) {
  .hero {
    min-height: calc(100vh + 11.75rem);
    padding-top: 4vw;
  }
  .hero__content-box {
    max-width: 100%;
    min-width: 85%;
    margin-top: 3.75rem;
  }
  .hero__logo {
    width: 8%;
  }
  .hero__heading {
    font-size: 2.0625rem;
  }
  .hero__text {
    width: 77.5%;
  }
  .hero__button {
    width: auto;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 425px) {
  .hero {
    min-height: calc(100vh - 28vw);
    padding-top: 8vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 99%, 0 89%);
            clip-path: polygon(0 0, 100% 0, 100% 99%, 0 89%);
  }
  .hero__overlay {
    background-position: center top;
  }
  .hero__content-box {
    padding: 0;
    background-color: transparent;
    max-width: 100%;
    margin-top: 1.25rem;
  }
  .hero__logo {
    width: 16%;
  }
  .hero__heading {
    font-size: 1.25rem;
    line-height: 1.3;
  }
  .hero__text {
    font-size: 0.875rem;
    width: 87.5%;
  }
  .hero #heroButton {
    width: auto;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}
.introduction {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: -5vw;
  padding-top: 5.5vw;
  padding-bottom: 7vw;
}
.introduction .wrap {
  width: 72.5%;
  height: 100%;
  padding: 1.875rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.introduction__item {
  flex-basis: 33.333%;
  padding: 3.75rem 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.introduction__item:first-child {
  text-align: left;
  align-self: center;
}
.introduction__item:last-child {
  text-align: end;
  align-self: center;
}
.introduction__image {
  flex-basis: 33.333%;
  padding: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction__image img {
  max-width: 9.688rem;
}
.introduction__title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 0.9375rem;
}
.introduction .introduction__item--last .introduction__title,
.introduction .introduction__item--last .introduction__text {
  text-align: end;
}
.introduction__text {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.46875rem;
}
.introduction__social {
  margin-top: 1.875rem;
  align-self: flex-end;
}
.introduction__social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  color: #ffffff;
  border-radius: 0.375rem;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.7rem 0.8rem;
}
.introduction__social a:hover {
  background-color: #414141;
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
}
@media (max-width: 425px) {
  .introduction {
    min-height: 100vh;
    margin-top: -25vw !important;
    padding-top: 35vw !important;
    padding-bottom: 35vw !important;
  }
  .introduction .wrap {
    flex-direction: column;
    align-items: center;
    gap: 0px !important;
    padding: 0.625rem;
  }
  .introduction .introduction__item {
    flex-basis: 100%;
    padding: 0px;
    display: block;
    text-align: center;
  }
  .introduction .introduction__item:first-child, .introduction .introduction__item:last-child {
    padding: 0.625rem;
    text-align: center;
    align-items: center;
  }
  .introduction .introduction__image {
    flex-basis: 100%;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .introduction .introduction__image img {
    height: 15rem;
    margin-top: 0;
  }
  .introduction .introduction__title {
    font-size: 1.75rem;
    margin-bottom: 0.9375rem;
    text-align: center;
  }
  .introduction .introduction__item--last .introduction__title,
  .introduction .introduction__item--last .introduction__text {
    text-align: center;
  }
  .introduction__social {
    align-self: center;
    margin-top: 2.5rem;
  }
}
@media (max-width: 768px) {
  .introduction {
    margin-top: -7vw;
    padding-top: 7vw;
    padding-bottom: 7vw;
  }
  .introduction .wrap {
    width: 100%;
    flex-wrap: nowrap;
    gap: 2.188rem;
    align-items: center;
  }
  .introduction__image {
    flex-basis: 33.333%;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .introduction__image img {
    max-width: 7.5rem;
    margin: 0;
    display: block;
  }
  .introduction__item {
    flex-basis: 33.333%;
    text-align: left;
    padding: 2.5rem 0.9375rem;
  }
  .introduction__title {
    font-size: 2.0625rem;
    margin-bottom: 0.46875rem;
  }
}
@media (max-width: 1024px) {
  .introduction {
    margin-top: -5vw;
    padding-top: 5vw;
    padding-bottom: 14vw;
  }
  .introduction .wrap {
    width: 100%;
    gap: 2.188rem;
  }
  .introduction__title {
    font-size: 2.0625rem;
    margin-bottom: 0.46875rem;
  }
  .introduction__text {
    width: 100%;
    align-self: flex-end;
    font-size: 0.875rem;
  }
}

@keyframes glide-bump-stay {
  0% {
    transform: scale(1);
    color: #000000;
    background-color: #ffffff;
  }
  25% {
    transform: scale(1.2);
    color: #ffffff;
    background-color: #000000;
  }
  50% {
    transform: scale(1);
    color: #000000;
    background-color: #ffffff;
  }
  75% {
    transform: scale(1.2);
    color: #ffffff;
    background-color: #000000;
  }
  100% {
    transform: scale(1.2);
    color: #ffffff;
    background-color: #000000;
  }
}
.artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/Section_3_Background.jpg");
  background-size: cover;
  background-position: 50% 72%;
  -webkit-clip-path: polygon(0 0%, 100% 11%, 100% 100%, 0 100%);
          clip-path: polygon(0 0%, 100% 11%, 100% 100%, 0 100%);
  transition: background-position 0.4s ease-in-out;
  will-change: background-position;
  backface-visibility: hidden;
  margin-top: -7vw;
  padding-top: 9vw;
  padding-bottom: 8vw;
}
.artists__content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.artists__title {
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.0625rem;
  margin-bottom: 1.875rem;
  letter-spacing: 0.094rem;
}
.artists__description {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3.75rem;
  max-width: 100%;
  width: 52.5%;
  text-align: center;
  margin-inline: auto;
}
.artists .border-top {
  width: 30%;
}
.artists #artistCarousel {
  position: relative;
  cursor: grab;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;
}
.artists #artistCarousel.dragging {
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.artists #artistCarousel .carousel-item {
  transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-align: center;
  flex: 0 0 auto;
}
.artists #artistCarousel .carousel-control-prev,
.artists #artistCarousel .carousel-control-next {
  width: auto;
  padding: 0 0.75rem;
}
.artists #artistCarousel .carousel-control-prev {
  left: 0.25rem;
}
.artists #artistCarousel .carousel-control-next {
  right: 0.25rem;
}
.artists__artist-name {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.75rem;
  font-weight: 200;
  margin: 2.5rem 0 0.625rem 0;
}
.artists__artist-subtitle {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  margin: 0 0 2.5rem 0;
}
.artists a {
  text-decoration: none;
}
.artists__artists-button {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin: 3.125rem auto 0;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  text-align: center;
}
.artists__artists-button:hover {
  background-color: #000000;
  color: #ffffff;
  animation: glide-bump-stay 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.artists__artists-button:not(:hover) {
  transform: scale(1);
  color: #000000;
  background-color: #ffffff;
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media (max-width: 1024px) {
  .artists {
    margin-top: -14vw;
    padding-top: 12vw;
    padding-bottom: 12vw;
    background-size: 150%;
    background-position: 45% 72%;
  }
  .artists .border-top {
    width: 50%;
  }
  .artists__title {
    font-size: 1.875rem;
    letter-spacing: 0;
  }
  .artists__description {
    width: 75%;
    font-family: "Roboto Mono", sans-serif;
  }
  .artists__carousel-separator {
    width: 52.5%;
  }
}
@media (max-width: 768px) {
  .artists {
    margin-top: -14vw;
    padding-top: 14vw;
    padding-bottom: 14vw;
    background-size: 200%;
    background-position: 48% 71%;
    background-repeat: no-repeat;
  }
  .artists .border-top {
    width: 50%;
  }
  .artists__title {
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .artists__description {
    font-size: 1rem;
    width: 75%;
  }
  .artists__carousel-separator {
    width: 50%;
  }
  .artists__artist-name {
    font-size: 1.75rem;
    margin-top: 2.8846153846rem;
    margin-bottom: 0.234375rem;
  }
  .artists__artist-subtitle {
    font-size: 0.875rem;
    margin-bottom: 2.8846153846rem;
  }
  .artists__artist-text {
    font-size: 0.875rem;
    line-height: 2.875rem;
    width: 100%;
  }
  .artists__artists-button {
    font-size: 1rem;
    margin-top: 2.8846153846rem;
  }
}
@media (max-width: 425px) {
  .artists {
    min-height: 100vh;
    margin-top: -28vw;
    padding-top: 25vw;
    padding-bottom: 30vw;
    background-size: 375%;
    background-position: 28% 78%;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0 100%);
            clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0 100%);
  }
  .artists .border-top {
    width: 80%;
  }
  .artists__title {
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
    line-height: 1.5;
  }
  .artists__description {
    font-size: 0.875rem;
    max-width: 72.5%;
    margin-bottom: 2.5rem;
  }
  .artists__carousel-separator {
    width: 85%;
  }
  .artists__artist-name, .artists__artist-subtitle {
    align-self: center;
    height: 24px;
  }
  .artists__artist-name {
    font-size: 1.125rem;
    margin-top: 3.75rem;
    margin-bottom: 0;
  }
  .artists__artist-subtitle {
    font-size: 0.875rem;
    margin: 0 auto 3.75rem;
    width: 90%;
  }
  .artists__artist-text {
    font-size: 0.875rem;
    line-height: 2.875rem;
    width: 95%;
  }
  .artists__artists-button {
    font-size: 1rem;
    margin-top: 2.5rem;
  }
}

.past-events-container {
  position: relative;
  min-width: 100%;
  background-color: #181818;
  padding-inline: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-clip-path: polygon(0px 70px, 88% 0, 100% 20px, 100% 100%, 0% 100%);
          clip-path: polygon(0px 70px, 88% 0, 100% 20px, 100% 100%, 0% 100%);
  margin-top: -6vw;
  padding-top: 8vw;
  padding-bottom: 9vw;
}

.images-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 72.5%;
  background-color: #181818;
}

.top-row,
.bottom-row {
  display: flex;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc(33.333% + 0.9375rem);
  overflow: hidden;
  gap: 1.25rem;
  padding: 0.625rem;
}
.column .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  overflow: hidden;
  flex-grow: 1;
}

.column.text-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: #ffffff;
  line-height: 1.3;
  margin-top: 0.75rem;
  margin-bottom: 0px;
}
.column.text-content p {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0.5357142857rem;
  margin-top: 0px;
}

.image-holder {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.top-row > *:nth-child(1) .image-holder {
  height: 15.5rem;
}
.top-row > *:nth-child(2) .image-holder:nth-child(1) {
  height: 25rem;
}
.top-row > *:nth-child(2) .image-holder:nth-child(2) {
  height: 8.125rem;
}
.top-row > *:nth-child(3) .image-holder:nth-child(1) {
  height: 15.625rem;
}
.top-row > *:nth-child(3) .image-holder:nth-child(2) {
  height: 17.5rem;
}

.bottom-row > *:nth-child(1) .image-holder:nth-child(1) {
  height: 250px;
}
.bottom-row > *:nth-child(1) .image-holder:nth-child(2) {
  height: 280px;
}
.bottom-row > *:nth-child(2) .image-holder:nth-child(1) {
  height: 400px;
}
.bottom-row > *:nth-child(2) .image-holder:nth-child(1) img {
  -o-object-position: center left;
     object-position: center left;
}
.bottom-row > *:nth-child(2) .image-holder:nth-child(2) {
  height: 130px;
}
.bottom-row > *:nth-child(3) .image-holder {
  height: 248px;
}

@media (max-width: 425px) {
  .past-events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -19vw;
    padding-top: 30vw;
    padding-bottom: 30vw;
    -webkit-clip-path: polygon(0px 70px, 75% 0, 100% 70px, 100% 100%, 0% 100%);
            clip-path: polygon(0px 70px, 75% 0, 100% 70px, 100% 100%, 0% 100%);
  }
  .past-events-container .images-text {
    width: 100%;
  }
  .past-events-container .top-row,
  .past-events-container .bottom-row {
    flex-wrap: wrap;
  }
  .past-events-container .column {
    padding: 0.625rem;
    gap: 1.25rem;
  }
  .past-events-container .top-row > *:nth-child(1) {
    flex-basis: 100%;
  }
  .past-events-container .top-row > *:nth-child(1) .image-holder {
    width: auto;
    height: 202px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .top-row > *:nth-child(2) {
    flex-basis: 50%;
  }
  .past-events-container .top-row > *:nth-child(2) .image-holder:nth-child(1) {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .top-row > *:nth-child(2) .image-holder:nth-child(2) {
    height: 130px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .top-row > *:nth-child(3) {
    flex-basis: 50%;
  }
  .past-events-container .top-row > *:nth-child(3) .image-holder:nth-child(1) {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .top-row > *:nth-child(3) .image-holder:nth-child(2) {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .bottom-row > *:nth-child(1) {
    flex-basis: 50%;
  }
  .past-events-container .bottom-row > *:nth-child(1) .image-holder:nth-child(1) {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .bottom-row > *:nth-child(1) .image-holder:nth-child(2) {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .bottom-row > *:nth-child(2) {
    flex-basis: 50%;
  }
  .past-events-container .bottom-row > *:nth-child(2) .image-holder:nth-child(1) {
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .bottom-row > *:nth-child(2) .image-holder:nth-child(2) {
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .bottom-row > *:nth-child(3) {
    flex-basis: 100%;
  }
  .past-events-container .bottom-row > *:nth-child(3) .image-holder {
    width: auto;
    height: 183px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .past-events-container .top-row .column:nth-child(1) h2,
  .past-events-container .bottom-row .column:nth-child(3) h2 {
    font-size: 1.75rem;
    text-align: center;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.9375rem;
  }
  .past-events-container .top-row .column:nth-child(1) p,
  .past-events-container .bottom-row .column:nth-child(3) p {
    font-size: 0.875rem;
    text-align: center;
    width: 82.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .past-events-container {
    margin-top: -12vw;
    padding-top: 16vw;
    padding-bottom: 16vw;
  }
  .images-text {
    width: 100%;
  }
  .column.text-content h2 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
  }
  .column.text-content p {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .past-events-container {
    margin-top: -7vw;
    padding-top: 12vw;
    padding-bottom: 15vw;
  }
  .images-text {
    width: 100%;
  }
  .column.text-content h2 {
    font-size: 1.875rem;
  }
  .column.text-content p {
    font-size: 1rem;
    margin-bottom: 1.875rem;
  }
}
@keyframes shake-n-rotate {
  10% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20% {
    transform: translate3d(2px, 0, 0) rotate(1.5deg);
  }
  30% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  40% {
    transform: translate3d(4px, 0, 0) rotate(2.5deg);
  }
  50% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  60% {
    transform: translate3d(4px, 0, 0) rotate(2.5deg);
  }
  70% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  80% {
    transform: translate3d(2px, 0, 0) rotate(1.5deg);
  }
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
.what-to-expect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/Section_5_Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  min-height: 100vh;
  padding-inline: 3.75rem;
  -webkit-clip-path: polygon(0px 10px, 25% 85px, 100% 10px, 100% 100%, 0% 100%);
          clip-path: polygon(0px 10px, 25% 85px, 100% 10px, 100% 100%, 0% 100%);
  margin-top: -8vw;
  padding-top: 10vw;
  padding-bottom: 11vw;
}
.what-to-expect .main__container {
  width: 100%;
  margin: 0 auto;
}
.what-to-expect__header {
  text-align: center;
  margin-bottom: 3.125rem;
}
.what-to-expect__title {
  font-size: 2.1875rem;
  font-family: "Dela Gothic One", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
  color: #ffffff;
}
.what-to-expect__subtitle {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  width: 65%;
  margin: 0 auto;
  color: #ffffff;
}
.what-to-expect__content {
  flex-basis: 33.333%;
  width: 82.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.75rem 0;
}
.what-to-expect__video {
  flex: 0 0 calc(33.333% - 0.9375rem);
  padding: 1.25rem;
}
.what-to-expect__video .video-container {
  height: 100%;
}
.what-to-expect__video .video-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.what-to-expect__map {
  flex: 0 0 calc(33.333% - 0.9375rem);
  padding: 1.25rem;
}
.what-to-expect__map .map-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.what-to-expect__program {
  flex: 0 0 calc(33.333% - 0.9375rem);
  padding: 1.25rem;
  position: relative;
  cursor: grab;
}
.what-to-expect__program.dragging {
  cursor: grabbing;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
.what-to-expect__program .carousel {
  position: relative;
  height: 100%;
  overflow: visible;
}
.what-to-expect__program .carousel .carousel-inner {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.what-to-expect__program .carousel .carousel-control-prev,
.what-to-expect__program .carousel .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  padding: 10px;
}
.what-to-expect__program .carousel .carousel-item {
  transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  height: 100%;
}
.what-to-expect__program .carousel .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.what-to-expect__program .carousel .carousel-indicators {
  position: absolute;
  bottom: -34px;
  left: 0px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.what-to-expect__program .carousel .carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  margin-left: 6px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: opacity 0.6s ease;
}
.what-to-expect__program .carousel .carousel-indicators li.active {
  background-color: #000000;
}
.what-to-expect__footer {
  text-align: center;
  margin-top: 3.75rem;
  position: relative;
}
.what-to-expect__footer .join-button {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.125rem;
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.what-to-expect__footer .join-button:hover, .what-to-expect__footer .join-button:focus {
  background-color: #000000;
  color: #ffffff;
  animation: shake-n-rotate 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 62.5rem;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .what-to-expect {
    width: 100%;
    height: 100%;
    margin-top: -12vw;
    padding-top: 14vw;
    padding-bottom: 14vw;
    padding-inline: 10px;
  }
  .what-to-expect__title {
    font-size: 1.875rem;
  }
  .what-to-expect__subtitle {
    width: 58.5%;
  }
  .what-to-expect__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .what-to-expect__video, .what-to-expect__program {
    padding-inline: 4.1666666667rem;
  }
  .what-to-expect__map, .what-to-expect__program, .what-to-expect__video {
    flex: 0 0 50%;
  }
  .what-to-expect__map img,
  .what-to-expect__map .carousel-inner,
  .what-to-expect__map .carousel-item,
  .what-to-expect__map .carousel-item img, .what-to-expect__program img,
  .what-to-expect__program .carousel-inner,
  .what-to-expect__program .carousel-item,
  .what-to-expect__program .carousel-item img, .what-to-expect__video img,
  .what-to-expect__video .carousel-inner,
  .what-to-expect__video .carousel-item,
  .what-to-expect__video .carousel-item img {
    height: auto;
    background-position: center center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .what-to-expect__map .carousel-control-prev, .what-to-expect__program .carousel-control-prev, .what-to-expect__video .carousel-control-prev {
    left: -50px;
  }
  .what-to-expect__map .carousel-control-next, .what-to-expect__program .carousel-control-next, .what-to-expect__video .carousel-control-next {
    right: -50px;
  }
  .what-to-expect__video {
    margin-right: 2px;
  }
}
@media (max-width: 768px) {
  .what-to-expect {
    width: 100%;
    height: 100%;
    padding: 1.875rem 0;
    margin-top: -12vw;
    padding-top: 14vw;
    padding-bottom: 14vw;
  }
  .what-to-expect__title {
    font-size: 1.875rem;
  }
  .what-to-expect__subtitle {
    width: 58.5%;
  }
  .what-to-expect__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .what-to-expect__map, .what-to-expect__program, .what-to-expect__video {
    flex: 0 0 50%;
    height: 100%;
    padding: 1.5rem;
  }
  .what-to-expect__map img,
  .what-to-expect__map .carousel-inner,
  .what-to-expect__map .carousel-item,
  .what-to-expect__map .carousel-item img, .what-to-expect__program img,
  .what-to-expect__program .carousel-inner,
  .what-to-expect__program .carousel-item,
  .what-to-expect__program .carousel-item img, .what-to-expect__video img,
  .what-to-expect__video .carousel-inner,
  .what-to-expect__video .carousel-item,
  .what-to-expect__video .carousel-item img {
    width: 100%;
    height: 100%;
    background-position: center center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .what-to-expect__map .carousel-control-prev, .what-to-expect__program .carousel-control-prev, .what-to-expect__video .carousel-control-prev {
    left: 0px;
  }
  .what-to-expect__map .carousel-control-next, .what-to-expect__program .carousel-control-next, .what-to-expect__video .carousel-control-next {
    right: 0px;
  }
  .what-to-expect__video {
    margin-right: 2px;
  }
}
@media (max-width: 425px) {
  .what-to-expect {
    margin-top: -22vw;
    padding-top: 30vw;
    padding-bottom: 32vw;
  }
  .what-to-expect__header {
    margin-bottom: 0;
  }
  .what-to-expect__title {
    font-size: 1.375rem;
    font-weight: 400;
  }
  .what-to-expect__subtitle {
    font-size: 0.875rem;
    width: 72.5%;
    margin-bottom: 2.5rem;
  }
  .what-to-expect__content {
    padding-inline: 2.8846153846rem;
  }
  .what-to-expect__map, .what-to-expect__program, .what-to-expect__video {
    flex: 0 0 100%;
    padding: 0.9375rem;
  }
  .what-to-expect__footer #joinButton {
    font-size: 16px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.organization-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 3.75rem;
  background-color: #deded6;
  -webkit-clip-path: polygon(35.5% 90px, 66.5% 20px, 100% 110px, 100% 100%, 0px 100%, 0px 110px, 23.5% 75px);
          clip-path: polygon(35.5% 90px, 66.5% 20px, 100% 110px, 100% 100%, 0px 100%, 0px 110px, 23.5% 75px);
  margin-top: -10vw;
  padding-top: 10vw;
  padding-bottom: 11vw;
}

.content-container {
  width: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.content-container .section-title {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.1875rem;
  font-weight: 700;
  align-self: flex-start;
  color: #000000;
  margin-bottom: 1.875rem;
}
.content-container .section-text {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0px;
}

@media (max-width: 1024px) {
  .organization-section {
    position: relative;
    width: 100%;
    margin-top: -16vw;
    padding-top: 14vw;
    padding-bottom: 14vw;
  }
  .organization-section .content-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .organization-section .content-container .section-title {
    font-size: 1.875rem;
    font-weight: 400;
  }
  .organization-section .content-container .section-text {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .organization-section {
    width: 100%;
    height: 100%;
    margin-top: -16vw;
    padding-top: 20vw;
    padding-bottom: 16vw;
  }
  .organization-section .content-container {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .organization-section .content-container .section-title {
    font-size: 1.875rem;
    font-weight: 400;
  }
  .organization-section .content-container .section-text {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .organization-section {
    width: 100%;
    margin-top: -32vw;
    padding-inline: 0;
    padding-top: 40vw;
    padding-bottom: 30vw;
    -webkit-clip-path: polygon(35.5% 100px, 66.5% 70px, 100% 110px, 100% 100%, 0px 100%, 0px 110px, 23.5% 90px);
            clip-path: polygon(35.5% 100px, 66.5% 70px, 100% 110px, 100% 100%, 0px 100%, 0px 110px, 23.5% 90px);
  }
  .organization-section .content-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .organization-section .content-container .section-title {
    font-size: 1.375rem;
    font-weight: 400;
    text-align: center;
    align-self: center;
  }
  .organization-section .content-container .section-text {
    width: 95%;
    font-size: 0.875rem;
    text-align: center;
    align-self: center;
  }
}
.location-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/Section7.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  display: flex;
  justify-content: center;
  -webkit-clip-path: polygon(50% 12%, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 12%, 100% 0, 100% 100%, 0 100%, 0 0);
  margin-top: -8vw;
  padding-top: 6vw;
  padding-bottom: 4vw;
}
.location-section .location__container {
  max-width: 100%;
  width: 72.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.location-section .location__container .location-left,
.location-section .location__container .location-right {
  flex: 0 0 50%;
  padding: 1.875rem;
}
.location-section .location__container .location-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.location-section .location__container .location-left h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.1875rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.875rem;
  width: 80%;
  align-self: center;
}
.location-section .location__container .location-left p {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  width: 85%;
  color: #ffffff;
  margin-bottom: 1.875rem;
  align-self: center;
}
.location-section .location__container .location-left .map-button {
  display: block;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto Mono", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: 0.125rem solid #ffffff;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-bottom: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.location-section .location__container .location-right {
  display: flex;
  justify-content: center;
}
.location-section .location__container .location-right .map-image {
  width: 100%;
  max-width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  display: block;
}

@media (max-width: 1024px) {
  .location-section {
    background-size: 100%;
    background-position: 55% 65%;
    background-repeat: no-repeat;
    margin-top: -10vw;
    padding-top: 13vw;
    padding-bottom: 8vw;
  }
  .location-section .location__container {
    width: 80%;
  }
  .location-section .location__container .location-left {
    padding-right: 0px;
    padding-left: 2.5rem;
  }
  .location-section .location__container .location-left h2 {
    font-size: 1.875rem;
    font-weight: 400;
    width: 80%;
  }
  .location-section .location__container .location-left p {
    width: 85%;
  }
  .location-section .location__container .location-right {
    padding-left: 0px;
    padding-right: 2.5rem;
  }
  .location-section .location__container .location-right .map-image {
    width: 100%;
    max-width: 330px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .location-section {
    min-width: 100% vw;
    background-size: 140%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    margin-top: -10vw;
    padding-top: 16vw;
    padding-bottom: 12vw;
  }
  .location-section .location__container {
    width: 100%;
  }
  .location-section .location__container .location-left {
    padding-right: 0.625rem;
    padding-left: 2.5rem;
  }
  .location-section .location__container .location-left h2 {
    font-size: 1.875rem;
    font-weight: 400;
    width: 80%;
  }
  .location-section .location__container .location-left p {
    width: 85%;
  }
  .location-section .location__container .location-right {
    padding-left: 0.625rem;
    padding-right: 2.5rem;
  }
  .location-section .location__container .location-right .map-image {
    width: 100%;
    max-width: 330px;
    height: auto;
  }
}
@media (max-width: 425px) {
  .location-section {
    min-width: 100%;
    background-size: 300%;
    background-position: 49.5% 100%;
    background-repeat: no-repeat;
    padding-inline: 1.875rem;
    -webkit-clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
    margin-top: -14vw;
    padding-top: 4vw;
    padding-bottom: 20vw;
  }
  .location-section .location__container {
    width: 100%;
    height: 100vh;
  }
  .location-section .location__container .location-left,
  .location-section .location__container .location-right {
    flex: 0 0 100%;
    padding: 0;
  }
  .location-section .location__container .location-left {
    padding-bottom: 0;
  }
  .location-section .location__container .location-left h2 {
    font-size: 1.375rem;
    width: 80%;
  }
  .location-section .location__container .location-left p {
    font-size: 0.875rem;
    width: 85%;
    margin-bottom: 1.25rem;
  }
  .location-section .location__container .location-right {
    margin-top: -5rem;
    padding-top: 0;
  }
  .location-section .location__container .location-right .map-image {
    width: 100%;
    max-width: 18.75rem;
    height: auto;
  }
}
.team-section {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: #deded6;
  -webkit-clip-path: polygon(26.5% 0, 100% 6%, 100% 100%, 0 100%, 0 6%);
          clip-path: polygon(26.5% 0, 100% 6%, 100% 100%, 0 100%, 0 6%);
  margin-top: -5vw;
  padding-top: 6vw;
  padding-bottom: 11vw;
}
.team-section .team-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.team-section .team-text h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.1875rem;
  text-align: center;
  margin-bottom: 1.875rem;
  width: 60%;
  margin-inline: auto;
}
.team-section .team-text .quote {
  font-family: "Roboto Mono", sans-serif;
  width: 54.5%;
  margin: 0 auto 3.75rem;
  text-align: center;
}
.team-section .team-cards {
  width: 72.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-inline: auto;
}
.team-section .team-cards .team-card {
  flex: 1 1 calc(33.333% - 1.25rem);
  height: 100%;
  border: 0.188rem solid #000000;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  min-width: calc(33.333% - 1.875rem);
  max-width: calc(33.333% - 1.875rem);
}
.team-section .team-cards .team-card .team-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}
.team-section .team-cards .team-card .name {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.1875rem;
  margin-bottom: 0.9375rem;
  color: #000000;
  line-height: 1.3;
}
.team-section .team-cards .team-card .role {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
}
.team-section .team-cards .team-card .image-container {
  margin-top: auto;
  width: 100%;
  height: 15.625rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  border-radius: 0.625rem;
}
.team-section .team-cards .team-card .image-container img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15.625rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

@media (max-width: 1440px) {
  .team-section .team-cards .team-card {
    flex: 1 1 calc(33.333% - 1.875rem);
    min-width: calc(33.333% - 1.875rem);
    max-width: calc(33.333% - 1.875rem);
    height: 28.75rem;
  }
  .team-section .team-cards .team-card .image-container {
    height: 15.625rem;
  }
  .team-section .team-cards .team-card .image-container img {
    height: 15.625rem;
  }
}
@media (max-width: 1024px) {
  .team-section {
    margin-top: -6vw;
    padding-top: 10vw;
    padding-bottom: 13vw;
  }
  .team-section .team-text h2 {
    font-size: 1.875rem;
  }
  .team-section .team-text .quote {
    width: 72.5%;
  }
  .team-section .team-cards {
    width: 100%;
  }
  .team-section .team-cards .team-card {
    flex: 1 1 calc(33.333% - 1.875rem);
    min-width: calc(33.333% - 1.875rem);
    max-width: calc(33.333% - 1.875rem);
    height: 27.5rem;
  }
  .team-section .team-cards .team-card .image-container {
    height: 15.625rem;
  }
  .team-section .team-cards .team-card .image-container img {
    height: 15.625rem;
  }
}
@media (max-width: 768px) {
  .team-section {
    margin-top: -8vw;
    padding-top: 13vw;
    padding-bottom: 17vw;
  }
  .team-section .team-text h2,
  .team-section .team-text .quote {
    width: 72.5%;
  }
  .team-section .team-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1.5rem;
  }
  .team-section .team-cards .team-card {
    flex: 1 1 calc(33.333% - 1.875rem);
    min-width: calc(33.333% - 1.875rem);
    max-width: calc(33.333% - 1.875rem);
    padding: 1.2rem;
    height: auto;
  }
  .team-section .team-cards .team-card .team-card-content {
    display: flex;
    flex-direction: column;
  }
  .team-section .team-cards .team-card .image-container {
    height: 15.625rem;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
  }
  .team-section .team-cards .team-card .image-container img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center bottom;
       object-position: center bottom;
  }
}
@media (max-width: 425px) {
  .team-section {
    margin-top: -26vw;
    padding-top: 21vw;
    padding-bottom: 24vw;
    -webkit-clip-path: polygon(26.5% 0, 100% 2%, 100% 100%, 0 100%, 0 2%);
            clip-path: polygon(26.5% 0, 100% 2%, 100% 100%, 0 100%, 0 2%);
  }
  .team-section .team-text h2 {
    font-size: 1.375rem;
    margin-bottom: 2.5rem;
  }
  .team-section .team-text .quote {
    font-size: 0.875rem;
  }
  .team-section .team-text h2,
  .team-section .team-text .quote {
    width: 85%;
  }
  .team-section .team-cards {
    flex-direction: column;
    width: 90%;
    gap: 0px;
  }
  .team-section .team-cards .team-card {
    flex: 1 1 100%;
    min-width: 100%;
    height: auto;
    margin-bottom: 1.25rem;
  }
  .team-section .team-cards .team-card .name {
    font-size: 1.75rem;
  }
  .team-section .team-cards .team-card .image-container {
    height: 12.5rem;
  }
  .team-section .team-cards .team-card .image-container img {
    height: 12.5rem;
    overflow: hidden;
  }
}
@keyframes shake-n-rotate {
  10% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20% {
    transform: translate3d(2px, 0, 0) rotate(1.5deg);
  }
  30% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  40% {
    transform: translate3d(4px, 0, 0) rotate(2.5deg);
  }
  50% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  60% {
    transform: translate3d(4px, 0, 0) rotate(2.5deg);
  }
  70% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  80% {
    transform: translate3d(2px, 0, 0) rotate(1.5deg);
  }
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
.collaborators-section {
  position: relative;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../img/Section\ 9_imresizer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -8vw;
  padding-top: 6vw;
  padding-bottom: 1vw;
}
.collaborators-section .collaborators-container {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 93.5%;
  max-width: 100%;
  margin: 0 auto;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-title {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.1875rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2.5rem;
  width: 65%;
  align-self: center;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .partners {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.4642857143rem;
  width: 100%;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .partners p {
  margin-bottom: 0;
  text-align: center;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper a {
  text-decoration: none;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-btn {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.125rem;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  align-self: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-btn:hover, .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-btn:focus {
  animation: shake-n-rotate 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  cursor: pointer;
  text-decoration: none;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section {
  text-align: right;
  align-self: flex-end;
  margin-top: auto;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section h3 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.0714285714rem;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section .contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.9375rem;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section .contact-info p {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  margin-bottom: 0;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section .contact-info .instagram-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 0.9375rem;
  background-color: #414141;
  border-radius: 0.3rem;
  padding: 0.7rem 0.8rem;
  text-decoration: none;
}
.collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section .contact-info .instagram-icon:hover {
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
}

@media (max-width: 1024px) {
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-title {
    font-size: 1.875rem;
    line-height: 1.5;
    width: 80%;
  }
}
/* Tablet 768px */
@media (max-width: 768px) {
  .collaborators-section {
    margin-top: -11vw;
    padding-top: 12vw;
    padding-bottom: 1vw;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-title {
    width: 100%;
    font-size: 1.875rem;
    line-height: 1.5;
  }
  .collaborators-section .collaborators-container {
    padding: 1.5rem;
  }
  .collaborators-btn {
    font-size: 0.875rem;
    margin-bottom: 1.875rem;
  }
  .collaborators-contact-section {
    align-self: flex-end;
  }
  .collaborators-contact-section h3 {
    text-align: right;
  }
  .contact-info {
    align-items: flex-end;
  }
  .contact-info .instagram-icon {
    align-self: flex-end;
  }
}
/* Mobile 425px */
@media (max-width: 425px) {
  .collaborators-section {
    margin-top: -17vw;
    padding-top: 14vw;
    padding-bottom: 0vw;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper {
    align-items: center;
    text-align: center;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-title {
    font-size: 1.375rem;
    width: 85%;
    line-height: 1;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .partners {
    align-items: center;
    margin-bottom: 2.5rem;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .partners p {
    font-size: 0.875rem;
    text-align: center;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-btn {
    font-size: 0.875rem;
    margin-bottom: 1.875rem;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section {
    align-self: center;
    text-align: center;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section h3 {
    font-size: 0.875rem;
    text-align: center;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section .contact-info {
    align-items: center;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section .contact-info p {
    font-size: 0.875rem;
    text-align: center;
  }
  .collaborators-section .collaborators-container .collaborators-content-wrapper .collaborators-contact-section .contact-info .instagram-icon {
    align-self: center;
  }
}
.sponsors-footer {
  background-color: #deded6;
  padding: 1.875rem;
  max-width: 100%;
}
.sponsors-footer .sponsors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
  max-width: 77.5%;
  margin: 0 auto;
}
.sponsors-footer .sponsor-logo {
  flex: 1 1 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsors-footer .sponsor-logo img {
  width: auto;
  padding: 0.625rem;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.sponsors-footer .sponsor-logo:nth-child(1) img {
  height: 70px;
}
.sponsors-footer .sponsor-logo:nth-child(n+2) img {
  height: 5.625rem;
}

@media (max-width: 1024px) {
  .sponsors-footer {
    padding: 1.875rem 0;
  }
  .sponsors-footer .sponsors-container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .sponsors-footer {
    padding: 1.875rem 0;
  }
  .sponsors-footer .sponsors-container {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .sponsors-footer {
    padding: 0.625rem 0;
  }
  .sponsors-footer .sponsors-container {
    max-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */