@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;
@use "sass:math";

// Button
@keyframes shake-n-rotate {
  10% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20% {
    transform: translate3d(2px, 0, 0) rotate(1.5deg);
  }
  30% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  40% {
    transform: translate3d(4px, 0, 0) rotate(2.5deg);
  }
  50% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  60% {
    transform: translate3d(4px, 0, 0) rotate(2.5deg);
  }
  70% {
    transform: translate3d(-4px, 0, 0) rotate(-2deg);
  }
  80% {
    transform: translate3d(2px, 0, 0) rotate(1.5deg);
  }
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

// collaborators_section9
.collaborators-section {
  position: relative;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(../img/Section\ 9_imresizer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);

  margin-top: -8vw;
  padding-top: 6vw;
  padding-bottom: 1vw;

  .collaborators-container {
    padding: math.div(var.$gutter-base, 0.75);
    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;

    .collaborators-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 93.5%;

      max-width: 100%;
      margin: 0 auto;

      .collaborators-title {
        font-family: var.$font-family-heading;
        font-size: var.$heading-size-big1;
        text-align: center;
        line-height: var.$line-height-mobile;

        margin-bottom: math.div(var.$gutter-base, 0.75);
        width: 65%;
        align-self: center;
      }

      .partners {
        font-family: var.$font-family-base;
        font-size: var.$font-size-base;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: math.div(var.$gutter-base, 0.42);
        width: 100%;

        p {
          margin-bottom: 0;
          text-align: center;
        }
      }

      a {
        text-decoration: none;
      }
      .collaborators-btn {
        font-family: var.$font-family-base;
        font-size: var.$font-size-medium;
        background-color: var.$color-black;
        color: var.$color-white;
        border: 2px solid var.$color-white;
        padding: 0.5rem 1.5rem;
        border-radius: 0.3rem;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        align-self: center;
        display: block;
        margin: 0 auto;
        text-decoration: none;

        &:hover,
        &:focus {
          animation: shake-n-rotate 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97)
            both;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
          cursor: pointer;
          text-decoration: none;
        }
      }

      .collaborators-contact-section {
        text-align: right;
        align-self: flex-end;
        margin-top: auto;

        h3 {
          font-family: var.$font-family-base;
          font-size: var.$font-size-base;
          margin-bottom: math.div(var.$gutter-base, 1.75);
        }

        .contact-info {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-bottom: math.div(var.$gutter-base, 2);

          p {
            font-family: var.$font-family-base;
            font-size: var.$font-size-base;
            margin-bottom: 0;
          }

          .instagram-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: var.$color-white;
            font-size: 1.5rem;
            margin-top: math.div(var.$gutter-base, 2);
            background-color: var.$insta-bg;
            border-radius: 0.3rem;
            padding: 0.7rem 0.8rem;
            text-decoration: none;

            &:hover {
              opacity: 0.8;
              transition: opacity 0.4s ease-in-out;
            }
          }
        }
      }
    }
  }
}

/* Tablet 768px */
@include mixin.tablet-styles {
  .collaborators-section {
    margin-top: -11vw;
    padding-top: 12vw;
    padding-bottom: 1vw;
  }
  .collaborators-section
    .collaborators-container
    .collaborators-content-wrapper
    .collaborators-title {
    width: 100%;
    font-size: var.$heading-size-medium;
    line-height: var.$line-height-base;
  }

  .collaborators-section .collaborators-container {
    padding: math.div(var.$gutter-base, 1.25);
  }

  .collaborators-btn {
    font-size: var.$font-size-small;
    margin-bottom: var.$gutter-base;
  }

  .collaborators-contact-section {
    align-self: flex-end;

    h3 {
      text-align: right;
    }
  }

  .contact-info {
    align-items: flex-end;

    .instagram-icon {
      align-self: flex-end;
    }
  }
}

@include mixin.laptop-m-styles {
  .collaborators-section
    .collaborators-container
    .collaborators-content-wrapper
    .collaborators-title {
    font-size: var.$heading-size-medium;
    line-height: var.$line-height-base;
    width: 80%;
  }
}

/* Mobile 425px */
@media (max-width: 767px) {
  .collaborators-section {
    margin-top: -17vw;
    padding-top: 14vw;
    padding-bottom: 0vw;
    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  }

  .collaborators-section
    .collaborators-container
    .collaborators-content-wrapper {
    align-items: center;
    text-align: center;

    .collaborators-title {
      font-size: var.$heading-size-tiny2x;
      width: 85%;
      line-height: var.$line-height-mobile1;
    }

    .partners {
      align-items: center;
      margin-bottom: math.div(var.$gutter-base, 0.75);

      p {
        font-size: var.$font-size-small;
        text-align: center;
      }
    }

    .collaborators-btn {
      font-size: var.$font-size-small;
      margin-bottom: var.$gutter-base;
    }

    .collaborators-contact-section {
      align-self: center;
      text-align: center;

      h3 {
        font-size: var.$font-size-small;
        text-align: center;
      }

      .contact-info {
        align-items: center;

        p {
          font-size: var.$font-size-small;
          text-align: center;
        }

        .instagram-icon {
          align-self: center;
        }
      }
    }
  }
}
