@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;
@use "sass:math";

// Hero section
.hero {
  position: relative;
  max-width: 100%;
  min-height: calc(100vh + 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  padding-block: 9.375rem;

  .hero-shape-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .hero-shape-bottom svg {
    position: relative;
    display: block;
    width: 100%;
    height: 3.75rem;
  }

  .hero-shape-bottom .hero-shape-fill {
    fill: var.$color-white;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../img/Section1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__wrap {
    @extend %wrap;
    position: relative;
    width: 100%;
    padding: 0;
  }

  &__content-box {
    background-color: var.$color-dark-grey;
    padding: math.div(var.$gutter-base, 0.55) math.div(var.$gutter-base, 0.58)
      math.div(var.$gutter-base, 0.6);
    border-radius: 2rem;
    max-width: 51.875rem;
    min-height: 24.375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 4.15rem;
    margin-bottom: math.div(var.$gutter-base, 1.5);
  }

  &__heading {
    font-family: var.$font-family-heading;
    font-size: var.$heading-size-bigger;
    font-weight: var.$font-weight-bold;
    color: var.$color-white;
    line-height: var.$line-height-small;
    text-transform: uppercase;
    margin-bottom: 2.2rem;
  }

  &__text {
    font-family: var.$font-family-base;
    font-size: var.$font-size-base;
    color: var.$color-white;
    line-height: var.$line-height-base;
    max-width: 90%;
    margin-bottom: 2.5rem;
  }

  .hero-button {
    background-color: var.$color-button-bg;
    color: var.$color-button-text;
    font-family: var.$font-family-base;
    font-size: var.$font-size-medium;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
    margin-bottom: 0;
    width: auto;
    display: block;

    &:hover {
      background-color: var.$color-black;
      color: var.$color-white;
      transform: rotate(5deg);
      text-decoration: none;
    }
  }
}

// Laptop 1024px and up
@include mixin.laptop-m-styles {
  .hero {
    &__content-box {
      width: 62.5%;

      padding-inline: 0;
    }

    &__logo {
      width: 8%;
    }

    &__heading {
      font-size: var.$heading-size-big;
    }

    &__text {
      width: 77.5%;
    }

    &__button {
      width: 40%;
      font-size: var.$font-size-medium;
      padding: 0.5rem 1rem;
    }
  }
}

// Tablet 768px–1023px
@include mixin.tablet-styles {
  .hero {
    min-height: calc(100vh + 11.75rem);

    &__content-box {
      max-width: 100%;
      min-width: 85%;
    }

    &__logo {
      width: 8%;
    }

    &__heading {
      font-size: var.$heading-size-big;
    }

    &__text {
      width: 77.5%;
    }

    &__button {
      width: auto;
      font-size: var.$font-size-medium;
      padding: 0.5rem 1rem;
    }
  }
}

// Mobile max 425px
@include mixin.mobile-l-styles {
  .hero {
    min-height: 100vh;
    padding-block: 7.5rem;

    &__overlay {
      min-width: 100%;
      background-size: cover;
    }

    &__content-box {
      padding: 0;
      background-color: transparent;
      max-width: 100%;
    }

    &__logo {
      width: 16%;
    }

    &__heading {
      font-size: var.$heading-size-tiny;
      line-height: var.$line-height-mobile;
    }

    &__text {
      font-size: var.$font-size-small;
      width: 87.5%;
    }

    #heroButton {
      font-size: var.$font-size-base;
      padding: 0.5rem 1.5rem;
    }
  }
}
