@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;
@use "sass:math";

// Location Section
.location-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../img/Section7.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  display: flex;
  justify-content: center;
  clip-path: polygon(50% 12%, 100% 0, 100% 100%, 0 100%, 0 0);
  margin-top: -8vw;
  padding-top: 6vw;
  padding-bottom: 4vw;

  .location__container {
    max-width: 100%;
    width: 72.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .location-left,
    .location-right {
      flex: 0 0 50%;
      padding: var.$gutter-base;
    }

    .location-left {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      h2 {
        font-family: var.$font-family-heading;
        font-size: var.$heading-size-big1;
        font-weight: var.$font-weight-bold;
        color: var.$color-white;
        margin-bottom: var.$gutter-base;
        width: 80%;
        align-self: center;
      }

      p {
        font-family: var.$font-family-base;
        font-size: var.$font-size-base;
        width: 85%;
        color: var.$color-white;
        margin-bottom: var.$gutter-base;
        align-self: center;
      }

      .map-button {
        display: block;
        background-color: var.$color-black;
        color: var.$color-white;
        font-family: var.$font-family-base;
        font-size: var.$font-size-small;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        border: 0.125rem solid var.$color-white;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-bottom: 0;
        width: fit-content;
      }
    }

    .location-right {
      display: flex;
      justify-content: center;

      .map-image {
        width: 100%;
        max-width: 400px;
        height: 400px;
        object-fit: cover;
        cursor: pointer;
        display: block;
      }
    }
  }
}

// Desktop 1024px
@include mixin.laptop-m-styles {
  .location-section {
    background-size: 100%;
    background-position: 55% 65%;
    background-repeat: no-repeat;
    margin-top: -10vw;
    padding-top: 13vw;
    padding-bottom: 8vw;
  }

  .location-section .location__container {
    width: 80%;

    .location-left {
      padding-right: 0px;
      padding-left: 2.5rem;
      h2 {
        font-size: var.$heading-size-medium;
        font-weight: var.$font-weight-normal;
        width: 80%;
      }

      p {
        width: 85%;
      }
    }
    .location-right {
      padding-left: 0px;
      padding-right: 2.5rem;
      .map-image {
        width: 100%;
        max-width: 330px;
        height: auto;
      }
    }
  }
}

// Tablet 768px
@include mixin.tablet-styles {
  .location-section {
    min-width: 100%vw;
    background-size: 140%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    margin-top: -10vw;
    padding-top: 16vw;
    padding-bottom: 12vw;
  }

  .location-section .location__container {
    width: 100%;
    // flex-wrap: nowrap;

    .location-left {
      padding-right: 0.625rem;
      padding-left: 2.5rem;
      h2 {
        font-size: var.$heading-size-medium;
        font-weight: var.$font-weight-normal;
        width: 80%;
      }

      p {
        width: 85%;
      }
    }
    .location-right {
      padding-left: 0.625rem;
      padding-right: 2.5rem;
      .map-image {
        width: 100%;
        max-width: 330px;
        height: auto;
      }
    }
  }
}

// Mobile 425px
@include mixin.mobile-l-styles {
  .location-section {
    min-width: 100%;
    background-size: 300%;
    background-position: 49.5% 100%;
    background-repeat: no-repeat;
    padding-inline: math.div(var.$gutter-base, 1);
    clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
    margin-top: -14vw;
    padding-top: 4vw;
    padding-bottom: 20vw;

    .location__container {
      width: 100%;
      height: 100vh;

      .location-left,
      .location-right {
        flex: 0 0 100%;
        padding: 0;
      }

      .location-left {
        padding-bottom: 0;
        h2 {
          font-size: var.$heading-size-tiny2x;
          width: 80%;
        }

        p {
          font-size: var.$font-size-small;
          width: 85%;
          margin-bottom: math.div(var.$gutter-base, 1.5);
        }
      }
      .location-right {
        margin-top: -5rem;
        padding-top: 0;
        .map-image {
          width: 100%;
          max-width: 18.75rem;
          height: auto;
        }
      }
    }
  }
}
