@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;
@use "sass:math";

// svg top
.location-shape-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.location-shape-top svg {
  position: relative;
  display: block;
  width: 100%;
  height: 5.875rem;
  transform: scale(-1, 1);
}

.location-shape-top .location-shape-fill {
  fill: var.$section_6_bg;
}

// svg bottom
.meet-shape-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.meet-shape-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 0px);
  height: 3.75rem;
}

.meet-shape-bottom .meet-bottom-shape-fill {
  fill: var.$section_6_bg;
}

// Location Section
.location-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../img/Section7.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  display: flex;
  justify-content: center;
  padding-block: 5rem;

  .location__container {
    max-width: 100%;
    width: 72.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2.5rem;

    .location-left,
    .location-right {
      flex: 0 0 50%;
      padding: 1.25rem;
    }

    .location-left {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      h2 {
        font-family: var.$font-family-heading;
        font-size: var.$heading-size-big1;
        font-weight: var.$font-weight-bold;
        color: var.$color-white;
        margin-bottom: var.$gutter-base;
        width: 80%;
        align-self: center;
      }

      p {
        font-family: var.$font-family-base;
        font-size: var.$font-size-base;
        width: 85%;
        color: var.$color-white;
        margin-bottom: var.$gutter-base;
        align-self: center;
      }

      .map-button {
        display: block;
        background-color: var.$color-black;
        color: var.$color-white;
        font-family: var.$font-family-base;
        font-size: var.$font-size-small;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        border: 0.125rem solid var.$color-white;
        border-radius: 0.3rem;
        cursor: pointer;
        // margin-bottom: 1.25rem;
        width: fit-content;
      }
    }

    .location-right {
      display: flex;
      justify-content: center;

      .map-image {
        width: 100%;
        max-width: 25rem;
        height: auto;
        object-fit: cover;
        cursor: pointer;
        display: block;
      }
    }
  }
}

// Desktop 1024px
@include mixin.laptop-m-styles {
  .location-section {
    background-size: 100%;
    background-position: 55% 65%;
    background-repeat: no-repeat;
  }

  .location-section .location__container {
    width: 80%;

    .location-left {
      padding-right: 0px;
      padding-left: 2.5rem;
      h2 {
        font-size: var.$heading-size-medium;
        font-weight: var.$font-weight-normal;
        width: 80%;
      }

      p {
        width: 85%;
      }
    }
    .location-right {
      padding-left: 0px;
      padding-right: 2.5rem;
      .map-image {
        width: 100%;
        max-width: 20.625rem;
        height: auto;
      }
    }
  }
}

// Tablet 768px
@include mixin.tablet-styles {
  .location-section {
    min-width: 100%;
    background-size: 140%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
  }

  .location-section .location__container {
    width: 100%;

    .location-left {
      padding-right: 0.625rem;
      padding-left: 2.5rem;
      h2 {
        font-size: var.$heading-size-medium;
        font-weight: var.$font-weight-normal;
        width: 80%;
      }

      p {
        width: 85%;
      }
    }
    .location-right {
      padding-left: 0.625rem;
      padding-right: 2.5rem;
      .map-image {
        width: 100%;
        max-width: 20.625rem;
        height: auto;
      }
    }
  }
}

// Mobile 425px
@include mixin.mobile-l-styles {
  .location-shape-top svg {
    height: 3.75rem;
  }

  .meet-shape-bottom svg {
    height: 2.375rem;
  }

  .location-section {
    min-width: 100%;
    background-size: 300%;
    background-position: 49.5% 50%;
    background-repeat: no-repeat;
    padding-inline: math.div(var.$gutter-base, 1);
    padding-top: 3rem;
    padding-bottom: 4.5rem;

    .location__container {
      width: 100%;
      height: 100%;

      .location-left,
      .location-right {
        flex: 0 0 100%;
        padding: 10px;
      }

      .location-left {
        h2 {
          font-size: var.$heading-size-tiny2x;
          width: 80%;
        }

        p {
          font-size: var.$font-size-small;
          width: 88.5%;
          margin-bottom: math.div(var.$gutter-base, 1.5);
        }
      }
      .location-right {
        .map-image {
          width: 100%;
          max-width: 18.75rem;
          height: auto;
        }

        // .map-button {
        //   margin-bottom: 24px;
        // }
      }
    }
  }
}
