@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;
@use "sass:math";

.organization-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: math.div(var.$gutter-base, 0.5);
  background-color: var.$section_6_bg;
  padding-block: 2.5rem;
}

.content-container {
  width: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .section-title {
    font-family: var.$font-family-heading;
    font-size: var.$heading-size-big1;
    font-weight: var.$font-weight-bold;
    align-self: flex-start;
    color: var.$color-black;

    margin-bottom: math.div(var.$gutter-base, 1);
  }
  .section-text {
    font-family: var.$font-family-base;
    font-size: var.$font-size-base;
    color: var.$color-black;
    margin-bottom: 0px;
  }
}

@include mixin.laptop-m-styles {
  .organization-section {
    position: relative;
    width: 100%;

    .content-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      .section-title {
        font-size: var.$heading-size-medium;
        font-weight: var.$font-weight-normal;
      }
      .section-text {
        font-size: var.$font-size-base;
      }
    }
  }
}

// Tablet 768px &  Desktop 1024px
@include mixin.tablet-styles {
  .organization-section {
    width: 100%;
    height: 100%;

    .content-container {
      width: 97.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      .section-title {
        font-size: var.$heading-size-medium;
        font-weight: var.$font-weight-normal;
      }
      .section-text {
        font-size: var.$font-size-base;
      }
    }
  }
}

// Mobile 425px
@include mixin.mobile-l-styles {
  .organization-section {
    width: 100%;
    padding-inline: 0;
    padding-block: 3.75rem;

    .content-container {
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .section-title {
        font-size: var.$heading-size-tiny2x;
        font-weight: var.$font-weight-normal;
        text-align: center;
        align-self: center;
      }
      .section-text {
        width: 95%;
        font-size: var.$font-size-small;
        text-align: center;
        align-self: center;
      }
    }
  }
}
