// _variables.scss

@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base: "Roboto Mono", sans-serif;
$font-family-normal: "Roboto", sans-serif;
$font-family-heading: "Dela Gothic One", sans-serif;

$font-size-small: rem-calc(14);
$font-size-base: rem-calc(16);
$font-size-medium: rem-calc(18);

$heading-size-tiny: rem-calc(20);
$heading-size-tiny2x: rem-calc(22);
$heading-size-small: rem-calc(28);
$heading-size-medium: rem-calc(30);
$heading-size-big: rem-calc(33);
$heading-size-big1: rem-calc(35);
$heading-size-big2x: rem-calc(40);
$heading-size-bigger: rem-calc(43);

$line-height-base: 1.5;
$line-height-small: 2.875rem;
$line-height-mobile: 1.3;
$line-height-mobile1: 1;

$font-weight-light: 100;
$font-weight-medium: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

$font-letter-spacing: 0.094rem;

// Size settings
$gutter-base: rem-calc(30);

// Color settings (Add/adjust these)
$color-white: #ffffff;
$color-black: #000000;
$color-dark-grey: #181818; // For the content box background
$color-light-grey: #e0e0e0; // For the paragraph text
$color-button-text: $color-black;
$color-button-bg: $color-white;
$section_6_bg: #deded6;
$insta-bg: #414141;
